#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #nav-item {
    float: left;
  }
  
  #nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav-item a:hover {
    background-color: #111;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
   
  }

  h1 {
    font-family: 'Whisper', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #333; /* Black */
  }

  hr {
    border: none;
    border-top: 5px solid #ff69b4; /* Pink */
    width: 50%;
    margin: 20px auto;
  }

  #p1 {
    text-align: justify;
    margin: 0 auto;
    width: 80%;
  }

  #p1 p {
    font-size: 18px;
    line-height: 1.6;
  } 
  #do{
    text-align: left;
  }
  #do1
  {
    border: none;
    border-top: 5px solid #ff69b4; /* Pink */
    width: 100%;
    margin: 20px auto;
  }

 

